.panel {
  width: 100vw;
  height: 65vh;
  position: fixed;
  top: 100vh;
  pointer-events: none;
  z-index: 1;
  backface-visibility: hidden;
}

.panel.closed {
  top: 100vh;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s cubic-bezier(0.4, 0, 1, 1);
  pointer-events: none;
}

.panel.short {
  transform: translate3d(0, -85px, 0);
  transition: transform 0.2s cubic-bezier(0.4, 0, 1, 1);
  will-change: transform;
  pointer-events: all;
}

.panel.half {
  transform: translate3d(0, -100%, 0);
  transition: transform 0.3s ease;
  will-change: transform;
  pointer-events: all;
}

.panel.full {
  transform: translate3d(0, -100%, 0);
  pointer-events: all;
}

.frame {
  border-top: 1px solid rgb(224, 224, 224);
  position: absolute;
  min-height: 65vh;
  background-color: #fff;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 4px;
  transform-origin: bottom;
  transition: transform 0.2s cubic-bezier(0.4, 0, 1, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.button-expand {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 24px;
  background-color: transparent;
  border: none;
  transition: opacity 0.3s ease;
}

.panel.half .button-expand,
.panel.full .button-expand {
  opacity: 0;
  pointer-events: none;
}

.button-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 24px;
  background-color: transparent;
  border: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.panel.half .button-close,
.panel.full .button-close {
  opacity: 1;
  pointer-events: all;
}

.component-container {
  position: absolute;
  left: 10px;
  min-height: 65vh;
  width: calc(100vw - 20px);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.component-container > div {
  flex: 1;
}

.component-container-full {
  position: absolute;
  left: 10px;
  width: calc(100vw - 20px);
  top: -35vh;
}
