.main-container {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  background-color: orange;
}

.test {
  font-size: 40px;
  color: blue;
}
