.stop-marker {
  padding: 4px;
  font-family: arial;
  border-radius: 50%;
  display: block;
  width: 22px;
}

.stop-marker.is-active .stop-marker__inner {
  background-color: #18e818;
  color: black;
  transform: translate(-50%, -50%) scale(1.3);
}

.stop-marker__inner {
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.23);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  transform: translate(-50%, -50%);
}
