@value shadow from '../colors.css';

.container {
  background: #fff;
  border-radius: 2px;
  box-shadow: shadow;
  margin: 0 15px;
  overflow: hidden;
}

.container + .container {
  margin-top: 16px;
}

.header {
  padding: 12px 15px;
  background: red;
}

.stop-name {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}

.departures-container {
  border-top: 0.4px solid #ccc;
}
