.header {
  padding: 14px;
  background-color: red;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 48px;
  overflow: hidden;
}

.title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 4px;
  color: #fff;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  left: 14px;
  top: 14px;
}

.quick-routes {
  padding: 10px 14px 0;
}

.quick-routes p {
  font-size: 12px;
  text-transform: uppercase;
}

.quick-routes span {
  font-weight: 700;
}

.toast {
  background-color: #404f58;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
}

.toast-container {
  display: flex;
}

.toast-content {
  margin: auto auto auto 0;
}

.link {
  background-color: white;
  color: black;
  line-height: 32px;
  padding: 0 14px;
  border-radius: 5px;
  font-weight: 300;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}
