@value header-height: from '../variables.css';

.wrapper {
  height: calc(100vh - header-height);
  padding-top: header-height;
}

.map-wrapper {
  height: 45vh;
}

.route-list-wrapper {
  height: 55vh;
}

.scroll-container {
  height: calc(55vh - header-height);
  padding-bottom: 20px;
}
