.container {
  padding: 14px;
  height: 100%;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 4px;
}

.route-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.route-list li {
  display: flex;
  height: 36px;
  align-items: center;
}

.route-list li > div {
  display: flex;
  align-items: center;
}

.route-list li:not(:last-child) {
  border-bottom: 0.4px solid #ccc;
}

.show-route-button {
  width: 20px;
  background-color: transparent;
  border: 0;
  margin-left: auto;
  position: relative;
  top: -5px;
}

.toggle-route-button {
  width: 30px;
  height: 100%;
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  opacity: 0.2;
}

.is-active {
  opacity: 1;
  fill: orange;
}

.toggle-route-button svg {
  flex: 1;
}

.line {
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  width: 36px;
  text-transform: uppercase;
}

.destination {
  font-size: 14px;
}

.night {
  background-color: #2e4482;
}
