.drawer {
  width: 100%;
  position: fixed;
  height: 65vh;
  top: 100vh;
}

.drawer.active {
  top: 35vh;
}

.handle {
  height: 30px;
  position: relative;
}

.handle:before {
  content: "";
  width: 80px;
  height: 6px;
  border-radius: 5px;
  background-color: #f3f2f2;
  box-shadow: inset 1px 1px 6px #ececec;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.drawer.active .component-panel {
  transform: translate3d(0, 0, 0);
  transition: transform 0.42s cubic-bezier(0.55, 0, 0.1, 1);
}

.drawer.active .frame {
  transform: translate3d(0, 0, 0);
  transition: transform 0.42s cubic-bezier(0.55, 0, 0.1, 1);
}

.drawer.active .backdrop {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.component-panel {
  position: absolute;
  min-height: 65vh;
  background-color: transparent;
  transition: transform 0.2s cubic-bezier(0.4, 0, 1, 1);
  transform: translate3d(0, 100%, 0);
}

.frame {
  border-top: 1px solid rgb(224, 224, 224);
  position: absolute;
  min-height: 65vh;
  background-color: #fff;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 4px;
  transition: transform 0.2s cubic-bezier(0.4, 0, 1, 1);
  transform: translate3d(0, 100%, 0);
  transform-origin: bottom;
}

.backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}
