@value shadow from '../colors.css';

.tabs-container {
  background: white;
  color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabs-container nav {
  box-shadow: shadow;
}

.tabs-container > div {
  height: 100%;
}

.tabs-header {
  background-color: white;
  display: flex;
}

.tab-button {
  flex: 1;
  background-color: transparent;
  border: 0;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 40px;
}

.tabs-panels-container {
  overflow: hidden;
  flex: 1;
  height: 100%;
}

.tabs-slide {
  height: 100%;
  position: relative;
  display: flex;
}

.tab-panel {
  width: 100%;
  flex-shrink: 0;
  color: black;
  font-size: 40px;
}

.tab-line-marker {
  height: 2px;
  width: 100%;
  position: relative;
  background: white;
}

.line {
  height: 100%;
  background-color: red;
  display: inline-block;
  position: absolute;
  transition: transform 0.3s ease;
}
